body{
	background: #e6f2ff;
}

h1{
	background: steelblue;
	color: white;
font-size: 34pt;}

h2{
	background: steelblue;
	color: white;
font-size: 18pt;}

p{
	background: white;
	color: steelblue;
	padding: 20px;
font-size: 18pt;}


body{
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;

h1{fontsize: 250%
font-weight: bold;
color:navy}
} 



nav li:hover {background: #cce6ff}
li{display:inline-block}
nav li {padding: 7px;
		margin: 12px;
background: white}

a { color: navy;
text-decoration: none;}
a: hover {color: red }