.city {
float: left;
margin: 5px;
padding: 15px;
width: 300px;
height: 450px;
border: .9px solid black;


}

body{
	background: #e6f2ff;
}

h1{
	color: white;
font-size: 60pt;}

h2{
	background: #b3e0ff;
	color: white;
font-size: 32pt;}

h3 {
	 font-family: 'Cormorant Garamond', serif;
	 font-family: 'Poiret One', cursive;
	 text-align: center;
	 font-size: 30px;
	 letter-spacing: -1px;
   color: white;
   background: #b3e0ff
}

p{
	background-color: white;
	color: steelblue;
	padding: 10px;
font-size: 14pt;}

body{
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;
}


img{
width:20%;
height:240px;}



nav li:hover {background: #cce6ff}
li{display:inline-block}
nav li {padding: 8px;
		margin: 15px;
background: white}

a { color: navy;
text-decoration: none;}
a: hover {color: red }





img {
	opacity: 0.4;
filter: alpha(opacity=40);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}

img {
	background-position: center;
}