

body{
	background: #e6f2ff;
}

h1{
	color: white;
font-size: 60pt;}

h2{
	background: #b3e0ff;
	color: white;
font-size: 32pt;}



p{
	background-color: white;
	color: steelblue;
	padding: 10px;
font-size: 14pt;}

body{
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;
}


nav li:hover {background: #cce6ff}
li{display:inline-block}
nav li {padding: 8px;
		margin: 15px;
background: white}

a { color: navy;
text-decoration: none;}
a: hover {color: red }

